<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
    </div>
    <button class="save" (click)="goBack()">go back</button>
    <button class="save" (click)="save()">save</button>

    <!-- Power -->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Power
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let power of filteredPowers">
            <span (click)="addPowerToHero(power)">{{power.name}}</span>
          </a>
        </div>
      </div>
      <ul class="heroes">
        <li *ngFor="let heroPower of heroPowers">
            <a>
                {{heroPower.name}}
            </a>
            <button class="delete" title="delete hero" (click)="deletePowerFromHero(heroPower)">x</button>
        </li>
      </ul>

      <!-- Costumes -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Change Costume
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let costume of filteredCostumes">
            <span (click)="addCostumeToHero(costume)">{{costume.name}}</span>
          </a>
        </div>
      </div>
      <ul class="heroes">
        <li *ngFor="let hc of heroCostume">
            <a>
                {{hc.name}}
            </a>
            <button class="delete" title="delete costume" (click)="deleteCostumeFromHero()">x</button>
        </li>
      </ul>

      <!-- Cities -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Change City
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let city of filteredCities2">
            <span (click)="addCityToHero(city)">{{city.name}}</span>
          </a>
        </div>
      </div>
      <ul class="heroes" *ngIf="heroCity">
        <li>
            <a>
                {{heroCity.name}}
            </a>
            <button class="delete" title="delete city" (click)="deleteCityFromHero()">x</button>
        </li>
      </ul>

</div>